body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}



header{
    display: inline-block;
    width: 1000px;
    margin-top: 10px;
    margin-left: calc((100% - 1000px) / 2);
    background-color: yellow
} 

header>img {
    float: left;
    height: 45px;
           
}

nav{
    float: right;
    margin-top: 2px;   
}

a{
    display: inline;
    text-decoration: none;
    float: left;
    color: #2D224C;
    font-size: 18px;
    line-height: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: red 3px;                      
}  

a:first-child { 
    text-decoration: underline red;
    text-decoration: bold;
    margin-left: 10px;
}

a:hover {
    color: red;
    
}

h1{
    font-size: 40px;
    margin-inline-start: 0;
    margin-left: 0;
    color:#9e9e9e;
    }

div {
    display: inline-block;
    float: left;
    width: 40%;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 5%;
}

p{
    margin: 0;
    font-size: 16px;
    color:#9e9e9e ;
    display: block
}

section {
    display: inline-block;
    width: 90%;  
}

section>img {
    width: 50%;
}



